/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

body {
    margin: 1em;
}

header {

}

main {
    height: 100%;
}

footer {
    text-align: center;
}

.toolbar {
    margin-bottom: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left {
    align-self: stretch;
}

.right {
    align-self: flex-end;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

/* Notes table styles */

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1em;
}

tr {
    outline: thin solid black;
    padding: 1em;
}

td {
    padding: 0.5em;
    vertical-align: top;
    text-align: left;
}

td.actions {
    vertical-align: middle;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* Note edit styles */

input {
    box-sizing: border-box;
}

.edit-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5em 0.5em;
}

.edit-buttons {
    margin: 0.5em 0.5em;
}

.edit-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 0.5em;
}

.edit-item label {
    white-space: nowrap;
    min-widht: 8em;
    width: 8em;
}

.edit-item input[type=text], textarea {
    flex-grow: 1;
}

.edit-item textarea {
    width: 50%;
}

.content {
    position: relative;
}


/* ==========================================================================
   Helper classes (by Boilerplate)
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
