/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

body {
    margin: 1em;
}

.toolbar {
    margin-bottom: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left {
    align-self: stretch;
}

.right {
    align-self: flex-end;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

/* Notes table styles */

table#notes {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1em;
}

tr {
    outline: thin solid black;
    padding: 1em;
}

td {
    padding: 0.5em;
    vertical-align: top;
}

td.actions {
    vertical-align: middle;
    text-align: center;
}

/* Note edit styles */

input {
    box-sizing: border-box;
}

input[type=text] {
    width: 100%;
}

.edit-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5em 0.5em;
}

.edit-buttons {
    margin: 0.5em 0.5em;
}

.edit-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 0.5em;
}

.edit-item label {
    white-space: nowrap;
    min-widht: 8em;
    width: 8em;
}

.edit-item-input {
    flex-grow: 1;
}

/*
 * Toggle Button
 */

button.toggle {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
}

button.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
}

.content {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*
 * STYLES
 */

/*
button.blackwhite {
    background-color: #e7e7e7;
    color: black;
}

button.color {
    background-color: #008CBA;
    color: white;
}
*/

.blackwhite {
    background-color: white;
}

.color {
    background-color: #b3d4fc;
}


/* ==========================================================================
   Helper classes (by Boilerplate)
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
